/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --green-dark: #273538;
    --green-light: #6AB29E;
    --green-medium: #4A8A79;
    --green-light-pale: #7C9B93;
    --green-blue : #98CACB;
    --white-light: #FDFEFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

.nav-link {
    @apply relative font-semibold text-white cursor-pointer text-[17px] w-fit md:block hidden;
}

.nav-link::after {
    @apply block content-[''] absolute bottom-[-31px] h-[4px] bg-green-light w-full scale-x-0 hover:scale-x-100 transition duration-300 origin-center;
}
