<div class="h-[1px] bg-white/25 "></div>
<footer class="grid grid-cols-1 md:grid-cols-3 gap-4 p-4 text-white max-w-7.5xl mx-auto">
    <div>
        <h3 class="font-bold">Column 1</h3>
        <p>Link 1.</p>
        <p>Link 2.</p>
        <p>Link 3.</p>
        <p>Link 4.</p>
    </div>
    <div class="">
        <h3 class="font-bold">Column 2</h3>
        <p>Link 1.</p>
        <p>Link 2.</p>
        <p>Link 3.</p>
        <p>Link 4.</p>
    </div>
    <div class="">
        <h3 class="font-bold">Column 3</h3>
        <p>Link 1.</p>
        <p>Link 2.</p>
        <p>Link 3.</p>
        <p>Link 4.</p>
    </div>
</footer>