<div class="max-w-7.5xl mx-auto text-center my-20">
    <div class="flex flex-col md:flex-row justify-center items-center gap-10 mx-3">
        <div class="perks rounded-[5px] drop-shadow-custom-white px-5 py-10 text-white text-center">
            <span class="material-symbols-outlined text-yellow-200 text-[5rem] drop-shadow-lg">
                self_improvement
            </span>
            <div>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum repudiandae, sunt animi similique adipisci qui cum debitis ab, est autem non provident commodi! Ad ipsam hic eum saepe soluta neque illum voluptates, quod quis, rerum sunt optio, magni velit sequi!
            </div>
        </div>
        <div class="perks rounded-[5px] drop-shadow-custom-white px-5 py-10 text-white text-center">
            <span class="material-symbols-outlined text-yellow-200 text-[5rem] drop-shadow-lg">
                pulmonology
            </span>
            <div>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum repudiandae, sunt animi similique adipisci qui cum debitis ab, est autem non provident commodi! Ad ipsam hic eum saepe soluta neque illum voluptates, quod quis, rerum sunt optio, magni velit sequi!
            </div>
        </div>
        <div class="perks rounded-[5px] drop-shadow-custom-white px-5 py-10 text-white text-center">
            <span class="material-symbols-outlined text-yellow-200 text-[5rem] drop-shadow-lg">
                neurology
            </span>
            <div>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum repudiandae, sunt animi similique adipisci qui cum debitis ab, est autem non provident commodi! Ad ipsam hic eum saepe soluta neque illum voluptates, quod quis, rerum sunt optio, magni velit sequi!
            </div>
        </div>
    </div>
    <button class="w-full drop-shadow-md sm:w-auto border-2 border-green-light-pale bg-green-light-pale text-white md:px-8 lg:px-14 py-2 rounded-[5px] hover:bg-green-dark hover:text-white hover:border-green-light transition-all duration-300">
        En savoir plus
    </button>
</div>
