<div class="container mx-auto">
    <div class="relative z-10 flex justify-left items-center px-4 md:px-6 lg:px-8 min-h-screen mx-auto max-w-7.5xl flex-row">
        <div class="hero max-w-xl md:max-w-2xl lg:max-w-4xl">
            <div class="hero-title text-2xl sm:text-3xl md:text-4xl lg:text-6xl xl:text-[5rem] tracking-wider md:tracking-widest font-bold break-words text-green-light">
                CESI<span class="text-yellow-200">ZEN</span>
            </div>
            <div class="hero-text py-4 text-base md:text-lg lg:text-xl">
                Le bien-être à portée de main, loin de tout.
            </div>
            <div class="hero-cta py-4 flex flex-col sm:flex-row gap-8">
                <button class="w-full drop-shadow-md sm:w-auto border-2 border-green-light-pale bg-green-light-pale text-white md:px-8 lg:px-14 py-2 rounded-[5px] hover:bg-green-dark hover:text-white hover:border-green-light transition-all duration-300">
                    CTA
                </button>
                <button class="w-full drop-shadow-md sm:w-auto border-2 border-green-light bg-green-light text-white md:px-8 lg:px-14 py-2 rounded-[5px] hover:bg-yellow-200 hover:text-black hover:border-yellow-200 transition-all duration-300">
                    CTA
                </button>
            </div>
        </div>
    </div>
</div>
