<header class="absolute top-0 left-0 w-full  bg-green-dark/75 text-white max-md:flex-col z-20">
    <div class="mx-auto max-w-7.5xl px-4 sm:px-6 lg:px-8">
        <div class="navbar flex justify-between items-center py-6">
            <div class="logo">
                <a href="#" class=""> 
                    <img src="../assets/img/flower_logo.png" class="h-10 w-15 hover:text-red-300" alt="">
                </a>
            </div>
            <div class="nav">
                <ul class="flex flex-row gap-6">
                    <li><a href="#" class="nav-link">Menu 1</a></li>
                    <li><a href="#" class="nav-link">Menu 2</a></li>
                    <li><a href="#" class="nav-link">Menu 3</a></li>
                    <li><a href="#" class="nav-link">Menu 4</a></li>
                    <li><a href="#" class="nav-link">Contact</a></li>
                </ul>
                <div class="menu"><i class="fa-solid fa-bars"></i></div>
            </div>
        </div>
    </div>
    <div class="h-[1px] bg-white/25 max-w-7.5xl mx-auto"></div>
</header>