<header class="w-full bg-green-dark text-white max-md:flex-col">
    <div class="mx-auto max-w-7.5xl px-4 sm:px-6 lg:px-8">
        <div class="navbar flex justify-between items-center py-6">
            <div class="logo">
                <a href="#">CesiZen</a>
            </div>
            <div class="nav">
                <ul class="flex flex-row gap-6">
                    <li><a href="#">Menu 1</a></li>
                    <li><a href="#">Menu 2</a></li>
                    <li><a href="#">Menu 3</a></li>
                    <li><a href="#">Menu 4</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <div class="menu"><i class="fa-solid fa-bars"></i></div>
            </div>
        </div>
    </div>
    <div class="h-[1px] bg-white/25 max-w-7.5xl mx-auto"></div>
</header>